@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: 'Luxurious Roman', sans-serif;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#hero {
	background-image: url(./img/tevin-trinh-byEie_vJPVs-unsplash.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
}
#hero: :after {
	content: '';
	position: absolute;
	left: 0;
	top: 50;
	height: 100%;
	width: 100%;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: blue;
}
#hero button {
	display: inline-block;
	padding: 10px 30px;
	color: yellow;
	background-color: transparent;
	border: 2px solid yellow;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .lrem;
	margin-top: 30px;
	transition: .3s ease background-color;
}
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
	font-size: 25px;
}
#about .col-left {
	width: 250px;
	height: 350px;
}
#about .col-right {
	width: 100%
}
#about .col-right p {
	margin-bottom: 20px
	color: black;
	font-size: 20px
}
#about .col-left .about-img {
	position: relative;
	margin-top: 15px;
}
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-container {
	font-size: 2rem;
	margin: 0 auto;
}
#contact .contact-item {
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 450;
	margin-bottom: 5px
}
#contact .contact-info h2 {
	font-size: 1.7rem;
	font-weight: 450;
	margin-bottom: 5px;
}
#skills .skill {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 95% 10px;
	font-size: 20px;
}
#skills .skill-header h1 {
	margin-bottom: 30px;
	justify-content: center;	
}
#skill .all-skills {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#skill .skill-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#skill .skill-info {
	padding: 30px;
	flex-basis: 40%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, grey 0%, #485563 100%);
	color: white;
}
#skill .skill-info h1 {
	font-size: 3rem;
	font-weight: 400;
	color: black;
}
#skill .skiil-info h2 {
	font-size: 1.8rem;
	font-weight: 400;
	margin-top: 10px;
	color: black;
}
#skill .skill-info p {
	font-size: 2rem;
	color: black;
}
#skill .skill-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#skill .skill-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, grey 0%, #485563 100%);
	opacity: .7;
}
#skill .skill-img img {
	transition: .3s ease transform;
}
#skill .skill-item:hover .skill-img img {
	transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
	#write .wrapper {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	#write .form-wrapper {
		padding: 3rem;
		width: 100%;
		max-width: 100%;
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		right: 0;
		left: 100%
	}
}